<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homesecurityautomation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Uploads"></activity>
        <activity android:name=".UserSettings" />
        <activity android:name=".DeleteUser" />
        <activity android:name=".FirstTimeUserSetup" />
        <activity android:name=".RegisteredFaces" />
        <activity android:name=".Pictures" />
        <activity android:name=".RegisterNewFace" />
        <activity android:name=".NewUserSetup" />
        <activity android:name=".AdminSettings" />
        <activity android:name=".AccessCamera" />
        <activity android:name=".MainControlActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
